{% extends "base.html" %}
{% block content %}

    <header class="container header header--form back header--index">
        <div class="container">
            
            <h1 class="header-title">transfer.io - Croatian Transfer Service</h1>
            <form action="" method="post" class="header-form">
                        <div>
                    <label>Where from?</label>
                    <input type="text" placeholder="Enter your destination" id="departure" name="departure" required>
                </div>
                <div>
                    <label>Where to?</label>
                    <input type="text" placeholder="Enter your destination" id="destination" name="destination" required>
                </div>
                <div>
                    <label>When?</label>
                    <input type="date" id="departure_date" name="departure_date" min="{{ today.strftime('%Y-%m-%d') }}" value="{{ today.strftime('%Y-%m-%d') }}">
                </div>
                <div>
                    <label>Number of Passengers</label>
                    <input type="number" id="number_of_passengers" name="number_of_passengers" min="1" max="28" value="1" onkeydown="return false" required>
                </div>
                
                <button class="button" type="submit">Search transfer</button>
            </form>
            
        </div>
    </header>

    <script src="{{ url_for('static', filename="js/homeAutocomplete.js") }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARqMbM-cAL_nF77CXZZK07BWzDxlYFgIk&libraries=places&callback=initAutocomplete" defer> </script>


{% endblock content %}
