{% extends "base.html" %}
{% block content %}


<header class="container header header-booking">
    <div class="container"><div class="header-row">
            <a class="button white header-selection">Transfer Details</a>
        </div>
    </div>
</header>

<section class="container main-form new-form clearfix">
    <div class="paths visible-path">
        <form action="" method="post" class="clearfix form form-travel active visible">
            <div class="row">
                <div class="col-md-4">
                    <label>Pick up location</label>
                    <span class="custom-combobox">
                        <input id="departure" name="departure" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input" placeholder="Enter your starting point" value="{{ departure }}" required>
                    </span>
                </div>
                <div class="col-md-4">
                    <label>Drop off location</label>
                    <span class="custom-combobox">
                        <input id="destination" name="destination" class="custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left ui-autocomplete-input" placeholder="Enter your destination" value="{{ destination }}" required>
                    </span>
                </div>
                <div class="col-md-4">
                    <div class="col-xs-12 col-sm-6 right-radius-none">
                        <label>Pickup date</label>
                    <input type="date" id="departure_date" name="departure_date" min="{{ today.strftime('%Y-%m-%d') }}" value="{{ today.strftime('%Y-%m-%d') }}" required>
                    </div>
                    <div class="col-xs-12 col-sm-6 left-radius-none">
                        <label>Two way travel</label>
                        <select required id="is_twoway" name="is_twoway">
                            <option value="No" selected>No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Pick up address</label>
                    <input required type="text" name="pickup-address" placeholder="Fill in your address">
                </div>
                <div class="col-md-3">
                    <label>Drop off address</label>
                    <input required type="text" name="dropoff-address" placeholder="Fill in your address">
                </div>
                <div class="col-md-3">
                    <label>Ammount of Passengers</label>
                    <input type="number" id="number_of_passengers" name="number_of_passengers" min="1" max="28" value="{{ num_of_pass }}" onkeydown="return false" required>
                    </div>
                    <div class="col-md-3">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Your email" required>
                    </div>
            </div>
            <div class="row display-return">
                <div class="col-md-8 add-return-fields">
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row m-top-48">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4 back-next">
                    <button class="col-md-12 button blue next" type="submit" id="next-1">Next</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename="js/homeAutocomplete.js") }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARqMbM-cAL_nF77CXZZK07BWzDxlYFgIk&libraries=places&callback=initAutocomplete" defer> </script>

{% endblock content %}
