{% extends "base.html" %}
{% block content %}

<!-- {% if message %} -->
<!--         <p>{{ message }}</p> -->
<!-- {% endif %} -->


{% for offer in offers %}

<!-- <a href="{{ url_for('home.transfer_data', departure=departure, destination=destination, num_of_pass=num_of_pass, departure_date=departure_date, vehicle=offer["vehicle_type"]) }}"> -->
<a href="https://google.com">
    <div class="offer">
        Vehicle Type : {{ offer["vehicle_type"] }}<br>
        Maximum number of passengers: {{ offer["max_num_of_pass"] }}<br>
        Price: {{ offer["price"] }} €<br>

    <a href=google.com">saki</a>
    </div>
</a>

{% endfor %}


{% endblock content %}
