{% extends "base.html" %}
{% block content %}


<header class="container header header-booking">
    <div class="container"><div class="header-row">
            <a class="button white header-selection">Available Vehicles</a>
        </div>
    </div>
</header>

<section class="container main-form new-form clearfix">

    {% for offer in offers %}

        <div class="pickup-vehicle" >
            <div class="col-wrapper">
                <div class="col-md-4">
                    {%  if "Limo" == offer["vehicle_type"] %}
                    <img src="{{ url_for('static', filename='img/limo.png') }}" class="lazyloaded" data-ll-status="loaded">
                    {%  elif "Minivan" == offer["vehicle_type"] %}
                    <img src="{{ url_for('static', filename='img/minivan.png') }}" class="lazyloaded" data-ll-status="loaded">
                    {%  elif "Minibus" == offer["vehicle_type"] %}
                    <img src="{{ url_for('static', filename='img/minibus.png') }}" class="lazyloaded" data-ll-status="loaded">
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <h3>{{ offer["vehicle_type"] }}</h3>
                    <p>Vehicle type</p>
                </div>
                <div class="col-md-2">
                    <h3>{{ offer["max_num_of_pass"] }}</h3>
                    <p>Max. Passengers</p>
                </div>
                <div class="col-md-3">
                    <span id="vanLuxVClassPriceEur">{{ offer["price"] }} €</span>
                    </h3>
                    <p>Price</p>
                </div>
            </div>
            <div class="right-section">
                <div class="dot-border">
                    <div class="circle-top">
                    </div><div class="bord">
                    </div><div class="circle-bot">
                    </div>
                </div>
                <div class="button-wrapper">
                    <a href="{{ url_for('home.transfer_data', departure=departure, destination=destination, num_of_pass=num_of_pass, departure_date=departure_date, vehicle=offer['vehicle_type']) }}">
                        <button class="select-car">select</button>
                    </a>
                </div>
            </div>
        </div>

    {% endfor %}

</section>

{% endblock content %}
